* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

:root {
    --font: white;
    --bgMenu: #020090;
    --bgBody: #666;
    --btnaHover: #ff0000;

}
label [for="btnMenu"] {
    height: 50px;
    flex: 1;
    background-color: var(--bgMenu);
    cursor: pointer;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--font);
    display: none;
}
nav {
    display: flex;
    background-color: var(--bgMenu);
    flex-direction: row;
}
nav > a {
    text-decoration: none;
    color: var(--font);
    padding: 16px;
    min-width: 200px;
    text-align: center;
    border: 1px solid red;
    flex: 1;
}
nav a:hover {
    background-color: var(--btnHover);
}
@media (max-width: 800px) {
    label [for="btnMenu"] {
    display: block;
    }
    nav {
    flex-direction: column;
    }
}
