* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

:root {
    --font: white;
    --bgMenu: #020090;
    --bgBody: #666;
    --btnaHover: #ff0000;

}
label [for="btnMenu"] {
    display: none;
}
nav {
    display: flex;
    background-color: var(--bgMenu);
    flex-direction: row;
}
nav > a {
    text-decoration: none;
    color: var(--font);
    padding: 16px;
    min-width: 200px;
    text-align: center;
    border: 1px solid red;

}